
*{
    padding: 0;
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
    padding-left: 40px;
}

header{
    background-color:cadetblue;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
li a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
li a:hover{
    color: black;
}

.dropbtn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: cadetblue;
    color: white;
    font-size: 20px;
    border: none;
    font-weight: bold;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
.dropbtn:hover{
    color: black;
    cursor: pointer;
}

body{
  background-color :antiquewhite
}

.child1{
  background-color: lightskyblue;
  width: 50%;
  margin-right: 20px;
  padding: 20px;
  margin-left: 10px;
  border-radius: 10px;
  height: 380px
}

.child2{
  background-color:lightskyblue;
  width: 50%;
  margin-right: 10px;
  border-radius: 10px;
  padding:10px
}

.parent{
  display: flex;
  margin-top: 20px;
}

.footer{
  background-color: darkcyan;
  height: 60px;
  margin-top: 40px;
}

.name{
  display: flex;
  margin-top: 20px;
}
.name1{
  width: 50%;
  margin: 10px;
}

.name2{
  margin: 10px
}

/* .form{
  background-color: green;

} */